<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TapTopUp</title>

  <!-- Fonts FIRST -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Orbitron:wght@600;700;800&display=swap" rel="stylesheet">
 <!-- Then CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>


<body> 
<div class="promobackground">
<header>
<nav class="Navigation">
    <a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='images/Home_Logo.png')}}" alt="Home Logo" class="logo"></a>

    <ul class="Navbar">
        <li><a href="{{ url_for('games')}}">Games</a></li>
        <li><a href="#">Promos</a></li>       
        <li><a href="{{ url_for('register')}}">Log in</a></li>
    </ul>
   <ul class="Dropdown">
    <li>
      <a href="#">
        More
        <img src="https://img.icons8.com/ios-filled/16/ffffff/sort-down.png" alt="Sort down icon">
      </a>
      <ul class="Dropdown-content">
        <li><a href="{{ url_for('about')}}">About</a></li>
        <li><a href="{{ url_for('contact')}}">Contact</a></li>
        <li><a href="{{ url_for('guide')}}">Other</a></li>
      </ul>
    </li>
  </ul>
</nav>
</header>
    
<main>
    <table>
  
   <div class="Promostoday">
    <h1>TODAY'S PROMOS:</h1> 
    </div></main>

<table class="PromoAvailable">
  <tr>
    <th>Available</th>
    <th>Not available</th>
  </tr>
  <tr> 
    <td><a href="{{ url_for('valorant')}}" id="Valopromo">Valorant</td></a>
    <td>Mobile legends</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Honor of kings</td>
  </tr>
   <tr>
    <td>-</td>
    <td>Zenless Zone Zero</td>
  </tr>
   <tr>
    <td>-</td>
    <td>Roblox</td>
  </tr>
   <tr>
    <td>-</td>
    <td>League of Legends</td>
  </tr>
   <tr>
    <td>-</td>
    <td>Wildrift</td>
  </tr> <tr>
    <td>-</td>
    <td>Call of Duty Mobile</td>
  </tr>
</table>
</div>
<footer>
  <div class="footer-content">
    <p>&copy; 2025 TapTopUp. All rights reserved.</p>
    <ul class="footer-links">
      <li><a href="{{ url_for('about')}}">About</a></li>
      <li><a href="{{ url_for('guide')}}">Support</a></li>
      <li><a href="mailto:ryanpolmalabanan2@gmail.com">Email us!</a></li>
      <li><a href="{{ url_for('contact')}}">Contact</a></li>
      <li><a href="{{ url_for('promos')}}">Promos</a></li>
    </ul>

    <div class="socials">
      <a href="#" id="facebook-icon"><img src="{{ url_for('static', filename='images/facebook-icon.png')}}" alt="Facebook"></a> 
      <a href="#"id="instagram-icon"><img src="{{ url_for('static', filename='images/instagram-icon.png')}}" alt="Instagram"></a> 
      <a href="#" id="discord-icon"><img src="{{ url_for('static', filename='images/discord-icon.png')}}" alt="Discord"></a> 
    </div>
  </div>
</footer>

</body>